<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <p>{{ str }}</p>
    <p>
        {% for i in studyList %}
            {{ i }}
        {% endfor %}
    </p>
    <p>
        {% for key, value in content_info.items %}
            {{ key }}: {{ value }}
        {% endfor %}
    </p>
    <p>
        {% for item in list %}
            {{ item }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    </p>

    <p>用户登录</p>
    <form action="" method="post">
        {% csrf_token %}
        <label>账户:</label><input type="text" name="name" value="{{ content_info.name }}" maxlength="30"/><br/>
        <label>密码:</label><input type="text" name="password" value="{{ content_info.password }}" maxlength="36"/><br/><br/>
        <input type="submit" value="登陆"/>
    </form>
</body>
</html>